.myfooter footer{
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}



.myfooter .sahar{
  background-color: rgb(19, 146, 163);
  color:white;
}

.myfooter .fa-heart{
  font-size: 22px !important;
  margin-left: 5px;
}




 


